<ul class="nav nav-pills">
  <li ng-class="{ active: vm.type === 'pii' }">
    <a href="#{{ vm.$routeSegment.getSegmentUrl('examine_contents', {type: 'pii'}) }}">{{ "Thông tin cá nhân" | translate }}</a>
  </li>
  <li ng-class="{ active: vm.type === 'ccn' }">
    <a href="#{{ vm.$routeSegment.getSegmentUrl('examine_contents', {type: 'ccn'}) }}">{{ "Số thẻ tín dụng" | translate }}</a>
  </li>
</ul>

<div ng-if='vm.type'>
  <h2 ng-if="(vm.SelectedFiles.selected | find_transfers).length != 0">{{ "Các chuyển đổi:" | translate }}</h2>
  <ul>
    <li ng-repeat="record in vm.SelectedFiles.selected | find_transfers">
      {{ record.title }}:
      <a ng-if="record.original_order" href="{{ record.original_order }}">{{ "Đơn gốc" | translate }}</a>
      <a ng-if="!record.original_order" class="disabled">{{ "Đơn gốc" | translate }}</a>
    </li>
  </ul>
  <p ng-if='(vm.SelectedFiles.selected | find_transfers).length == 0'>{{ "Không tìm thấy thông tin cho các chuyển đổi đã chọn." | translate }}</p>

  <div ng-if="(vm.SelectedFiles.selected | find_files).length != 0">
    <h2>{{ "Tệp tin" | translate }}</h2>

    <form ng-submit="vm.submit(vm.selected)" class="form-inline examine-contents-form">
      <input type="text"
             class="form-control input-sm"
             ng-model="vm.tag"
             ng-disabled="vm.selected.length < 1">
      <input type="submit"
             id="submit-tag"
             value="{{ 'Thêm nhãn vào các tệp đã chọn' | translate }}"
             ng-disabled="vm.selected.length < 1"
             class='btn btn-sm btn-default'>
    </form>

    <table class='table table-hover table-striped table-condensed'>
      <tr>
        <th>
          <input type="checkbox"
                 name="checked_files[]"
                 value="{{ 'Chọn tất cả' | translate }}"
                 ng-checked="vm.all_selected"
                 ng-click="vm.select_all((vm.SelectedFiles.selected | find_files | filter:{bulk_extractor_reports: vm.type}))">
        </th>
        <th>{{ "Tên tệp" | translate }}</th>
        <th>{{ "Tên chuyển đổi" | translate }}</th>
        <th>{{ "Xem trước" | translate }}</th>
        <th>{{ "Nhật ký Bulk extractor" | translate }}</th>
      </tr>
      <tr ng-repeat="record in vm.SelectedFiles.selected | find_files | filter:{bulk_extractor_reports: vm.type}">
        <td>
          <input checklist
               type="checkbox"
               name="checked_files[]"
               ng-element="record"
               ng-checked="vm.selected.indexOf(record.id) > -1"
               record-count="(vm.SelectedFiles.selected | find_files | filter:{bulk_extractor_reports: vm.type}).length"
               selected-list="vm.selected"
               all-selected="vm.all_selected">
        </td>
        <td>
          <a href="#{{ vm.$routeSegment.getSegmentUrl('examine_contents.file_info', {id: record.id, type: vm.type}) }}">{{ vm.cutRelativePath(record.relative_path) }}</a>
        </td>
        <td>
          {{ record.relative_path | limitTo:record.relative_path.indexOf('/') }}
        </td>
        <td>
          <a href="#{{ vm.$routeSegment.getSegmentUrl('preview', {id: record.id}) }}">{{ "Xem trước" | translate }}</a>
        </td>
        <td>
          <a ng-if="record.bulk_extractor" href="{{ record.bulk_extractor }}">{{ "Nhật ký Bulk extractor" | translate }}</a>
        </td>
      </tr>
    </table>
  </div>

  <p ng-if='(vm.SelectedFiles.selected | find_files).length == 0'>{{ "Không tìm thấy thông tin cho các tệp đã chọn." | translate }}</p>

  <div app-view-segment="1"></div>
</div>
